<div class="homepage">

  <section class="section1">
    <div class="wrapper flexParent justifyContentFlexEnd alignItemsFlexEnd">
      <h2>Be<br/>what<br/>you<br/>love.</h2>
    </div>
  </section>

  <section class="section2">
    <div class="wrapper">

      <div class="sectionContent sectionContent2">

        <div class="weWantedToMakeContainer weWantedToMakeContainer-section2">

          <h4>We wanted</h4>
          <h4>to make a</h4>
          <h4 class="superJuice">super</h4>
          <h4 class="superJuice">juice</h4>

        </div>
        
        <div class="soWeDidContainer soWeDidContainer-section2">

          <div class="soWeDid soWeDid-section2">
            <h5>so we</h5>
            <h3>did</h3>
          </div>

          <a class="learnAboutProbioticsLink learnAboutProbioticsLink-section2" href="/pages/products">
            <div class="learnAboutProbiotics learnAboutProbiotics-section2">
              <p>Learn about<br/>our probiotics.</p>
              {{ 'rightArrow.png' | asset_url | img_tag }}
            </div>
          </a>

        </div>
        
        {{ '2-products.png' | asset_url | img_tag: 'photo of products', 'products2' }}
        {{ 'berryKaleTablet.png' | asset_url | img_tag: 'photo of products', 'products2Tablet' }}
        {{ 'berryMobileIndex.png' | asset_url | img_tag: 'photo of products', 'productsMobile' }}

      </div>

    </div>
  </section>

  <section class="section3">
    <div class="wrapper">

      <div class="sectionContent sectionContent3">

        <div class="weWantedToMakeContainer weWantedToMakeContainer-section3">

          <h4>We wanted</h4>
          <h4>to make a</h4>
          <h1>big</h1>
          <h5 class="difference">difference</h5>

        </div>
        

        <div class="soWeDidContainer soWeDidContainer-section3">

          <div class="soWeDid soWeDid-section3">
            <h5><b>so we</b></h5>
            <h3>did</h3>
          </div>

          <a class="learnAboutProbioticsLink learnAboutProbioticsLink-section3" href="/pages/products"><div class="learnAboutProbiotics learnAboutProbiotics-section3">
            <p>Learn about<br/>our probiotics.</p>
            {{ 'purpleRightArrow.png' | asset_url | img_tag }}
          </div></a>

        </div>

        <div class="givingBackImgContainer">
          {{ 'welogivingback.png' | asset_url | img_tag: 'photo of children holding a Welo sign' }}
        </div>

      </div>

    </div>
  </section>

</div>