<div class="products">

	<section class="section1">
		<div class="wrapper">

			<h3>Packed<br/>With<br/>Goodness.</h3>
			<a class="meetTheProbioticsLink" href="#productsSection2">
				<div class="meetTheProbiotics">
					<p>Meet the<br/>probiotics.</p>
					{{ 'rightArrow.png' | asset_url | img_tag }}
				</div>
			</a>

		</div>
	</section>

	<section class="section2" id="productsSection2">
		<div class="wrapper">

			<div class="section2-1">
				{{ 'All-Products_Trans.png' | asset_url | img_tag: 'photo of all probiotic drinks', 'allProducts' }}
				{{ 'allProductsMobile.png' | asset_url | img_tag: 'photo of all probiotic drinks', 'allProductsMobile' }}
			</div>

			<div class="section2-2">
				<div class="section2-2-1">
					<p>2 billion vegan probiotics</p>
					<p>cold pressed fruits and veggies</p>
					<p>organic</p>
					<p>vegan</p>
					<p>low sugar</p>
				</div>
				
				<div class="section2-2-2">
					<p>In an independent lab study of a simulated gastric environment with a pH of 2.0 for two hours, GanedenBC30 cells were delivered 10X more effectively than common yogurt cultures.</p>
				</div>
			</div>

			<div class="section2-3">
				{{ 'yogurts.png' | asset_url | img_tag: 'photo of all probiotic drinks', 'section2-3-desktop' }}
				{{ 'yogurtsMobile.png' | asset_url | img_tag: 'photo of all probiotic drinks', 'section2-3-mobile' }}
			</div>

			<div class="section2-4">
				<p>In an independent lab study of a simulated gastric environment with a pH of 2.0 for two hours, GanedenBC30 cells were delivered 10X more effectively than common yogurt cultures.</p>
			</div>

		</div>
	</section>

	<section class="section3">
		<div class="wrapper">

			<div class="section3Content">
				<div class="section3-1">
					<h3 class="section3-1-desktop">We<br/>Love<br/>Your<br/>Guts.</h3>
					<h3 class="section3-1-mobile">We Love<br/>Your Guts.</h3>
				</div>
				
				<div class="section3-2">
					{{ 'digestiveSystemDesktop.svg' | asset_url | img_tag: 'The Second Brain: Our digestive system is the second largest part of our neurological system, most illnesses originate in the gut.
Appetite: Probiotics are the fastest growing functional food on the market with a growth rate of 7% year over year. †
Need: More than 20 million Canadians suffer from digestive disorders every year. ††
Reality: 80 percent of your entire immune system is located in your digestive tract.', 'section3-2-desktop' }}
					{{ 'digestiveSystemTablet.svg' | asset_url | img_tag: 'The Second Brain: Our digestive system is the second largest part of our neurological system, most illnesses originate in the gut.
Appetite: Probiotics are the fastest growing functional food on the market with a growth rate of 7% year over year. †
Need: More than 20 million Canadians suffer from digestive disorders every year. ††
Reality: 80 percent of your entire immune system is located in your digestive tract.', 'section3-2-tablet' }}
					{{ 'digestiveSystemMobile2.svg' | asset_url | img_tag: 'The Second Brain: Our digestive system is the second largest part of our neurological system, most illnesses originate in the gut.
Appetite: Probiotics are the fastest growing functional food on the market with a growth rate of 7% year over year. †
Need: More than 20 million Canadians suffer from digestive disorders every year. ††
Reality: 80 percent of your entire immune system is located in your digestive tract.', 'section3-2-mobile' }}

					<p>† Euromonitor  †† <a href="http://www.cdhf.ca/en/statistics" target="_blank">http://www.cdhf.ca/en/statistics</a></p>

					{% comment %}<div class="section3-2-1">
						{{ 'digestiveSystem.png' | asset_url | img_tag: 'digestive system', 'section3-2-1-desktop' }}
						{{ 'digestiveSystemMobile.png' | asset_url | img_tag: 'digestive system', 'section3-2-1-mobile' }}
					</div>
					
					<div class="section3-2-2">
						<h6>“The Second Brain”: Our digestive system is the second largest part of our neurological system, most illnesses originate in the gut.</h6>
						<h6>Appetite: Probiotics are the fastest growing functional food on the market with a growth rate of 7% year over year. †</h6>
						<h6>Need: More than 20 million Canadians suffer from digestive disorders every year. ††</h6>
						<h6>Reality: 80 percent of your entire immune system is located in your digestive tract.</h6>
					

					</div>{% endcomment %}
				</div>
			</div>

		</div>
	</section>

	<section class="section4">
		<div class="wrapper">
				
			<div class="section4Content">
				<h5>Good things
				<br/>come to those
				<br/>who wait.</h5>
				<h6>We’re still working on building our store. 
				Please check back in the near future or add your email to the mailing list below and we’ll let you know when we’re up and running.</h6>
			</div>

		</div>

		<div class="notifyMe">
			{% include 'mailchimp' %}
		</div>
	</section>

	<section class="section5">
		<div class="wrapper">
			
		<div class="section5Content">

			<div class="section5Headings">
				<h4 class="section5-desktop">Right To<br/>The Gut.</h4>
				<h6>Subscription ordering, coming soon.</h6>	
			</div>

			<div class="section5-img">
				{{ 'BeetOrangeProducts.png' | asset_url | img_tag: 'image of 2 of the drinks', 'section5-imgDesktop' }}
				{{ 'berryBeet.png' | asset_url | img_tag: 'image of 2 of the drinks', 'section5-imgTablet' }}
				{{ 'Berry-Beet_TransCropped.png' | asset_url | img_tag: 'image of 2 of the drinks', 'section5-imgMobile' }}
			</div>
		</div>

		</div>
	</section>

</div>
